.applications-container {
  background: #ccf3ff;
  @apply p-3 rounded-2xl;
}

.applications-container table {
  width: 100%;
  table-layout: fixed;

}

.applications-container table th,
.applications-container table td {
  text-align: center;
  @apply px-4 py-2;
}

.applications-container table th:first-child,
.applications-container table td:first-child {
  text-align: left;
}

.applications-container table th:last-child,
.applications-container table td:last-child {
  text-align: right;
}

.applications-container table thead tr {
  background: #b1f0ff;
}

.applications-container table thead tr th {
};

.applications-container table thead tr th:first-child {
  @apply rounded-l-xl pl-4;
}

.applications-container table thead tr th:last-child {
  @apply rounded-r-xl pr-4;
}

.applications-container table tr.odd {
  background: #e6fcff;
}

.applications-container table tr.odd td:first-child {
  @apply rounded-l-xl;
}

.applications-container table tr.odd td:last-child {
  @apply rounded-r-xl;
}

.applications-container table td .badge {
  display: inline-block;
  min-width: 120px;
  text-align: center;
}

