@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-Regular";
  src: url("/Inter-Regular.ttf") format("truetype");
}

html, body {
  height: 100%;
}

body {
  font-family: "Inter-Regular", sans-serif;
  @apply text-black;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}